body{
    margin: 0;
}

/* top part begins here  */
section{
    display: flex;
    background-color: black;
    margin-top: 0;
    color: white;
    height: 30px;
    justify-content: left;
    align-items:center ;
}

#location-email{
    display: flex;
    padding: 5px;
}

#location-email span{
    padding: 0 5px 0 5px;
}

#icons span{
    justify-content: right;
    padding-left: 670px;
    margin: 20px;
}
#icons a{
    text-decoration: none;
    color: white;
    margin: 10px 10px ;
    transition: transform 0.4s ease;
}
#icons a:hover{
    transform: rotate(180deg);
    color: blue;

}
/* top part ends here  */

/* nav section begins  */
nav{
    display: flex;
    padding-top: 20px;
    background-color: grey;
    height: 80px;
    justify-content: space-around;

}

nav a{
    text-decoration: none;
}

nav a:hover{
    color: red;
}
#nav-items{
    justify-items: space-between ;


}

nav button{
    color: red;
    border-width: 1px ;
    border-style: solid;
    border-color: red;
    background-color: white;
    height: fit-content;
}
nav button:hover{
    background-color: red;
    color: white;
}

#call a{
    color: black;
}

#call span{
    color: red;
    text-decoration: dashed;
    text-decoration-line:underline;
}
/* nav section ends  */

#hero{
    background-image: url(../assets/images/hero-img.jpg);
}