body{
    margin: 0;
}
.baskervville-regular {
    font-family: "Baskervville", serif;
    /* font-weight: 400; */
    font-style: normal;
}

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
/* top part begins here  */
#top-part{
    display: flex;
    background-color: black;
    margin-top: 0;
    color: white;
    height: 30px;
    justify-content: left;
    align-items:center ;
}

#location-email{
    display: flex;
    padding: 5px;
}

#location-email span{
    padding: 0 5px 0 5px;
}

#icons span{
    justify-content: right;
    padding-left: 670px;
    margin: 20px;
}
#icons a{
    text-decoration: none;
    color: white;
    margin: 10px 10px ;
    transition: transform 0.4s ease;
}
#icons a:hover{
    transform: rotate(180deg);
    color: blue;

}
/* top part ends here  */

/* nav section begins  */
nav{
    display: flex;
    padding-top: 20px;
    background-color: white;
    height: 80px;
    justify-content: space-around;

}

nav a{
    text-decoration: none;
}

nav a:hover{
    color: red;
}
#nav-items{
    justify-items: space-between ;


}

nav button{
    color: red;
    border-width: 1px ;
    border-style: solid;
    border-color: red;
    background-color: white;
    height: fit-content;
}
nav button:hover{
    background-color: red;
    color: white;
}

#call a{
    color: black;
}

#call span{
    color: red;
    text-decoration: dashed;
    text-decoration-line:underline;
}
/* nav section ends  */

/* #hero{
    background-image: url(../assets/images/hero-img.jpg);


} */

/* Hero starts here */
 #hero img{
    height: 100vh;
    width: 100vw;

 }


 /* #overlay{
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
} */

.hero-text{
    position: absolute;
    top : 100pt ; 
    /* margin-top: 90pt; */
    left: 95pt;
    color: #FFF; 
}
.hero-text .baskervville-regular {
    font-size: 50px;
}
 .button_slide {
    color: #FFF;
    border: 2px solid red;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Roboto ", sans-serif,monospace;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #d8da80;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #d6a812;
  }
  
  
  
/* hero ends here  */

/* Section two starts here  */
#sec-two {
    display: flex;
    padding: 100px 50px 0 170px;
    justify-content: space-between;
    margin-bottom: 50px;
}

#left-sec img{
    height: 80vh;
    width: 30vw;
    border-radius: 100px 0 0 0;
}


#right-sec{
    width: 500px;
    height: 550px;


}
#right-sec span{
    font-size: 30px;
    color: #2D0000;
}
#right-sec h3{
    font-size: 24px;
    color: #2D0000;
    font-weight: lighter;

}
#right-sec p{
    font-size: 18px;
    color: #6B5A5A;
}

#name-position span:first-child{
    font-size: 20px;

}
#name-position span:last-child{
    font-size: 14px;
    margin-bottom: 50px;

}
/* Section two ends here  */

/* practice area begins here */
#practice-area{
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F4F4;
}

#practice-area #header-text h2{
    font-size: 41px;
    /* padding-top: 90px ; */
    /* align-items: center; */

}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    /* padding: 50px; */
  }
  
  .grid-container > div {
    text-align: center;
    padding-top: 50px;
    gap: 10px;
    color: #66816a;
    height: 300px;
    width: 376px;
    font-size: 30px;
    background-color: white;
  }
 
  .grid-container a{
    font-size: 24px;
  }
  .grid-container p{
    font-size: 16px;
  }
  .item1 {
    grid-column: 1 / 2; 
    grid-row: 1; 
  }
  
  .item2 {
    grid-column: 2; 
    grid-row: 1;
  }
  
  .grid-container .item3 {
    color: #F8F4F4;
    background-color: #B40000;
    border-radius:0  100px 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 500px ;
    font-size: 30px;
  }

  .grid-container img{
    justify-content: center;
  }
  
  .item3 {
  
    grid-column: 3; 
    grid-row: 1 /span 2; 
  }

  form{
    display: flex;
    flex-direction: column;
    padding: 10px 30px 10px 10px;
    width: 50px;
    height: 20px;

  }
  
  .item4 {
    grid-column: 1/2 ;
    grid-row: 2; 
  }
  
  .item5 {
    grid-column: 2; 
    grid-row: 2; 
  }
/* practice area ends here */

/* Why Us starts here  */

#why-us{
  height:70vh;
  width:auto;
  align-content: center;
  text-align: center;
}

#why-us h2{
  font-size: 24px;
  color:#B40000;
}
#why-us #first-sec{
  font-size: 24px;
  color:#2D0000;
}
#why-us #second-sec{
  font-size: 18px;
  color: #6b6b6b;;
}


/* wy us ends here  */

